{{> header}}
    <h1>New membership invitation!</h1>
    <p>Please accept invitation to view {{workspace}} contents!</p>
    <p>Please verify your workspace invitation following this link <a href="{{verifyURl}}">Verify</a></p>

{{> footer}}