{{> header}}
    <h1>Welcome to Nest Starter Template!</h1>
    <p>We're happy to have you join us.</p>
    <p>Please verify your account following this link <a href="{{verifyURl}}">Verify</a></p>

{{> footer}}